li .nav-item {
  margin-bottom: 0;
}

.navbar-brand {
  margin-right: 0 !important;
}

nav > div {
  justify-content: center;
}

.navbar-nav .nav-link,
.navbar-brand {
  color: #333 !important;
  font-weight: 600 !important;
}

.navbar {
  position: sticky !important;
  top: 0;
}

.active {
  border-bottom: 3px solid #333;
  padding-bottom: 6px;
}
