html,
body,
main {
  background: #96b0da !important;
  overflow-x: hidden;
}

main {
  margin-top: -68px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.react-reveal div {
  max-width: 100%;
}

.row .react-reveal {
  width: 25%;
}

.btn-dark {
  color: white !important;
}

.modal {
  z-index: 2 !important;
}

.modal-backdrop {
  z-index: 1 !important;
}
